:root {
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    --purple: #2E3192;
    --pink: #EE2A7B;
    --blue: #00AEEF;
    --landing-menu-height: 10rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden scroll;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--purple);
}

a:visited {
    color: var(--purple);
}

a:hover {
    color: var(--purple);
}

a:active {
    color: var(--purple);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Prevent transitions from occuring before window loads */
/* this is removed by JS */
.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    animation-duration: 0s !important;
}


/* Landing page navbar */


.down-tick {
    height: 2rem;
    width: 2rem;
    fill: var(--purple);
}

.list {
    padding: 0;
    cursor: pointer;
    color: var(--purple);
    height: 100%;
    white-space: nowrap;
}

.list__item {
    font-size: 2rem;
    display: inline-block;
    margin-right: 5rem;
    height: 100%;
    white-space: normal;
}

.list__item__title {
    display: inline-flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.drop-down {
    background-color: white;
    list-style: none;
    position: absolute;
    transition: opacity 0.15s, transform 0.15s;
    transform: translateY(-2rem);
    visibility: hidden;
    border: 1px solid #ccc;
}

.drop-down--descriptive {
    width: 35rem;
}


.drop-down__item {
    padding: 2rem 0;
    height: 100%;
}

.drop-down--descriptive .drop-down__item {
    display: flex;
}

.drop-down__item__description {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding-right: 2rem;
}

.drop-down__item__icon {
    height: 100%;
    align-self: center;
    margin-right: 2rem;
    padding-left: 2rem;
}

.drop-down__item:hover {
    background-color: lightgrey;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

.visible {
    opacity: 1;
    z-index: 1;
}

.drop-down.visible {
    transform: translateY(0);
}


.landing-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--landing-menu-height);
    border-bottom: 1px solid #ccc;
}

.logo-section {
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
}

.logo-icon {
    width: 15.3rem;
    height: auto;
}

.logo-title {
    display: inline-block;
    margin: 0.5rem 0 0 1rem;
    font-size: 2.5rem;
    white-space: nowrap;
}

.font-purple {
    color: var(--purple);
}

.font-pink {
    color: var(--pink);
}

.sign-up-in-btns {
    margin-right: 2rem;
}


/* Buttons */

.btn {
    display: inline-block;
    border: none;
    font-size: 1.75rem;
    background: var(--blue);
    width: 10rem;
    height: fit-content;
    color: white;
    padding: 1rem 1.75rem;
    border-radius: 2.3rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: background 0.20s
}

.btn:hover {
    background: #0587b6
}

/* Initial landing section */


.first-landing {
    height: calc(100vh - var(--landing-menu-height));
    min-height: 650px;
    max-width: 1583px;
    display: grid;
    grid-template: repeat(2, 100fr) / repeat(2, 100fr);
    position: relative;
}

.first-landing::after {
    content: "";
    clip-path: polygon(71% 2%, 10% 95%, 95% 85%);
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: var(--blue);
}

.init-questions {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    transform: translateY(4rem);
    justify-self: left;
}

.question-badge {
    margin: 0;
    color: white;
    width: fit-content;
    padding: 0.5rem 1.25rem;
    font-size: 3.25rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.question-badge--primary {
    background: var(--purple);
    border-radius: 10px;
}

.question-badge--secondary {
    background: var(--pink);
}

#question-1 {
    z-index: 1;
}

#question-2 {
    top: -0.3rem;
}

#question-3 {
    align-self: center;
    justify-self: center;
}

/* second landing section */

.landing-grid--1x2 {
    height: 70vh;
    min-height: 546px;
    max-width: 1583px;
    display: grid;
    grid-template: 100fr / repeat(2, 100fr);
    position: relative;
    margin-bottom: 10rem;
}

.second-landing::after {
    content: "";
    clip-path: polygon(17% 0, 90% 100%, -5% 86%);
    grid-area: 1 / 1 / 2 / 3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -40%;
    z-index: -2;
    background: var(--pink);
}

.landing-testimony {
    grid-column: 2;
    align-self: center;
    width: 75%;
    min-width: 49.2rem;
    height: 30rem;
}

.testimony {
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template: 100fr / repeat(2, 100fr);
    align-items: center;
}

.testimony-title {
    font-size: 4rem;
    margin-left: 1rem;
    line-height: 5rem;
}

.testimony-description {
    justify-self: right;
    text-align: right;
    font-size: 2rem;
    margin-right: 1rem;
    max-width: 286px;
    color: var(--purple);
}

.opacity-0 {
    opacity: 0;
}

/* third landing section */

.grid-center {
    align-items: center;
    justify-items: center;
}

.landing__title {
    font-size: 3rem;
    color: var(--purple);
    white-space: nowrap;
}

.landing-icon {
    width: 20rem;
}

.landing-icon.boss {
    width: 21rem;
}


.landing-icon.tr-l-4rem {
    transform: translateX(-3rem);
}

.tr-r-4rem {
    transform: translateX(5rem);
}

.push-back-1 {
    position: relative;
    z-index: -1;
}

.slide-left-animate {
    animation: slide-left 0.5s 0.3s ease-in forwards;
}

.slide-right-animate {
    animation: slide-right 0.5s 0.3s ease-in forwards;
}
.bored-team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mr-purple {
    height: fit-content;
}

.mr-pink {
    height: fit-content;
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(6rem);
    }
    to {
        opacity: 1;
        transform: translateX(-3rem);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }
    to {
        opacity: 1;
        transform: translateX(5rem);
    }
}

/* Footer */

.footer {
    height: 15rem;
}


/* SIGN UP =================================== */


.full-viewport--center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
}

.form__title {
    text-align: center;
    font-size: 3rem;
}

.user-input {
    height: 3rem;
    width: 20rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    outline: none;
    background: rgba(204, 204, 204, 0.5);
    border: none;
    border-radius: 10rem;
    font-size: 1.25rem;
}

.user-input::placeholder {
    color: rgba(46, 49, 146, 0.5);
}



/* Bored Rooms ================================== */
.table__head__header {
    padding: 0 2rem 2rem 2rem;
}

.full-viewport {
    height: 100%;
    display: flex;
}

.full-viewport--flex-column {
    flex-direction: column;
    align-items: center;
}

.filters {
    margin-top: 2rem;
}

.table__row__data {
    text-align: center;
    padding: 1rem 0;
}

.table__row__data__description {
    padding-right: 1rem;
    width: 60ch;
}

.table__row:hover {
    background: rgba(204, 204, 204, 0.5);
    cursor: pointer;
}

.table {
    font-size: 1.5rem;
    margin-top: 6rem;
    color: var(--purple);
    border-spacing: 0;
    width: fit-content;
}