:root {
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    --purple: #2E3192;
    --pink: #EE2A7B;
    --blue: #00AEEF;
    --landing-menu-height: 10rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden scroll;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Prevent transitions from occuring before window loads */
/* this is removed by JS */
.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* Landing page navbar */
.landing-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--landing-menu-height);
    border-bottom: 1px solid #ccc;
}

.logo-section {
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
}

.logo-icon {
    width: 15.3rem;
    height: auto;
}

.logo-title {
    display: inline-block;
    margin: 0.5rem 0 0 1rem;
    font-size: 2.5rem;
    white-space: nowrap;
}

.logo-title-first-word {
    color: var(--purple);
}

.logo-title-last-word {
    color: var(--pink);
}

.sign-up-in-btns {
    margin-right: 2rem;
}


/* Buttons */

.btn {
    display: inline-block;
    border: none;
    font-size: 1.75rem;
    background: var(--blue);
    width: 10rem;
    height: fit-content;
    color: white;
    padding: 1rem 1.75rem;
    border-radius: 2.3rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: background 0.20s
}

.btn:hover {
    background: #0587b6
}

/* Initial landing section */


.first-landing {
    height: calc(100vh - var(--landing-menu-height));
    display: grid;
    grid-template: repeat(2, 100fr) / repeat(2, 100fr);
    position: relative;
}

.first-landing::after {
    content: "";
    clip-path: polygon(71% 2%, 10% 95%, 95% 85%);
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: var(--blue);
}

.init-questions {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    transform: translateY(4rem);
}

.question-badge {
    margin: 0;
    color: white;
    width: fit-content;
    padding: 0.5rem 1.25rem;
    font-size: 3.25rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.question-badge--primary {
    background: var(--purple);
    border-radius: 10px;
}

.question-badge--secondary {
    background: var(--pink);
}

#question-1 {
    z-index: 1;
}

#question-2 {
    top: -0.3rem;
}

#question-3 {
    align-self: center;
    justify-self: center;
}

/* second landing section */

.landing-grid--1x2 {
    height: 100vh;
    display: grid;
    grid-template: 100fr / repeat(2, 100fr);
    position: relative;
}

.second-landing::after {
    content: "";
    clip-path: polygon(17% 0, 90% 100%, -5% 86%);
    grid-area: 1 / 1 / 2 / 3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -40%;
    z-index: -2;
    background: var(--pink);
}

.landing-testimony {
    grid-column: 2;
    align-self: center;
    width: 75%;
    min-width: 49.2rem;
    height: 30rem;
}

.testimony {
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template: 100fr / repeat(2, 100fr);
    align-items: center;
}

.testimony-title {
    font-size: 4rem;
    margin-left: 1rem;
    line-height: 5rem;
}

.testimony-description {
    justify-self: right;
    text-align: right;
    font-size: 2rem;
    margin-right: 1rem;
    max-width: 286px;
    color: var(--purple);
}


/* third landing section */

.grid-center {
    align-items: center;
    justify-items: center;
}

.landing__title {
    font-size: 3rem;
    color: var(--purple);
    white-space: nowrap;
}

.landing-icon {
    width: 20rem;
}

.landing-icon.boss {
    width: 21rem;
}


.landing-icon.tr-l-4rem {
    transform: translateX(-3rem);
}

.tr-r-4rem {
    transform: translateX(5rem);
}

.push-back-1 {
    position: relative;
    z-index: -1;
}

.slide-left-animate {
    animation: slide-left 0.5s ease-in;
}

.slide-right-animate {
    animation: slide-right 0.5s ease-in;
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(6rem);
    }
    to {
        opacity: 1;
        transform: translateX(-3rem);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }
    to {
        opacity: 1;
        transform: translateX(5rem);
    }
}